In [1]:
listWithNumbers_ = list(range(1,20))
print("The list looks like: ", listWithNumbers_,'\n')

The list looks like:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
#Do the simple list comprehension
[value_ for value_ in listWithNumbers_]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
#print those values which have element greater then 2
[value_ for value_ in listWithNumbers_ if value_>2]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
#print those values which have greater than 2 and even number
[value_ for value_ in listWithNumbers_ if value_ > 2 if value_ %2 == 0]

[4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
#print those value which is greater than 10 and and even number then from that list we will have to print greater than 16
[value_ for value_ in listWithNumbers_ if value_ > 10 if value_ %2 == 0 if value_ > 16]

[18]

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    'text':[
        'I am a good boy',
        'He wants to be an engineer'
    ]
})
df.head()

                         text
0             I am a good boy
1  He wants to be an engineer

In [8]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
stopwordsList_ = stopwords.words('english')
print(stopwordsList_)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [9]:
for eachRow_ in df.loc[:, 'text']:
    wordConvert_ = word_tokenize(eachRow_)
    for eachCharacter_ in wordConvert_:
        if eachCharacter_ in stopwordsList_:
            print("Found")

Found
Found
Found
Found
Found

In [10]:
indexFind_ = [[index_ for index_, eachCharacter_ in enumerate(word_tokenize(eachRow_)) if eachCharacter_ in stopwordsList_] for eachRow_ in df.loc[:, 'text']]