In [1]:
class hello:
    def helloWorld_(self):
        return "Hello World:"

object_ = hello()
print(object_.helloWorld_())

Hello World:

In [2]:
class hello:
    
    def __init__(self):
        print("hello world:")

object_ = hello()

hello world:

In [3]:
from functools import reduce
class hello:
    
    def __init__(self, list_):
        self.list_ = list_
    
    def addList_(self):
        func_ = reduce(lambda x, y:(x+y), self.list_)
        return func_

object_ = hello([1,2,3,4,5,6,7,8,9,10])

print(object_.addList_())

55

In [4]:
class hello:
    
    list_ = [1,2,3,4]
    
    addList_ = [1,2,3]
    
    def addList(self):
        return self.addList_
    
object_ = hello()
print(object_.addList())

[1, 2, 3]

In [5]:
class functools_:
    
    def __init__(self, list_):
        self.list_ = list_
        
    def addByTwo_(self):
        return list(map(lambda x:(x+2),self.list_))

    def evenNumber(self):
        return list(filter(lambda x: x%2==0, self.list_))

    def oddNumber(self):
        return list(filter(lambda x: x%2!=0, self.list_))
    
    def allAdd_(self):
        return reduce(lambda x, y:(x+y), self.list_)

list_ = [1,2,3,4,5,6,7,8,9,10]
object_ = functools_(list_)

print(object_.addByTwo_())
print(object_.evenNumber())
print(object_.oddNumber())
print(object_.allAdd_())

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
55

In [6]:
class hello:
    
    def dictPrint_(self):
        
        list1_ = ['a','b','c','d','e']
        list2_ = [1, 2, 3, 4, 5]
        dict_ =  {keys_ : values_ for keys_, values_ in zip(list1_, list2_)}
        
        return dict_
    
hello().dictPrint_()

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [7]:
class studentDetails:
    
    def __init__(self, dict_):
        self.dict_ = dict_
        
    def studentID_(self):
        return self.dict_.keys()
    def studentName(self):
        return self.dict_.values()

object_ = studentDetails({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
print(object_.studentID_())
print(object_.studentName())

dict_keys(['a', 'b', 'c', 'd', 'e'])
dict_values([1, 2, 3, 4, 5])

In [8]:
class hello:
    
    nameList_ = ['a', 'b', 'c', 'd', 'e']
    
    def merge_(self, list_):
        return reduce(lambda x, y:(x+y), list_)
    
#     def __init__(self, nameList_):
#         self.nameList_ = nameList_
#     def nameList(self):
#         return self.nameList_


class world(hello):
    def __init__(self, resultList_):
        self.resultList_ = resultList_
        
    def createDict_(self):
        dict_ = {keys_: values_ for keys_, values_ in zip(self.resultList_, self.nameList_)}
        return dict_
    def oddFind_(self):
        return "EVEN" if (super().merge_(self.resultList_))%2==0 else "ODD"

nameList_ = ['a', 'b', 'c', 'd', 'e']
object1_  = hello()  

object2_  = world([1, 2, 3, 4, 5])
object2_.createDict_()
object2_.oddFind_()

'ODD'

In [9]:
class operationWithList_:
    
    def add_(self, list_):
        return list(map(lambda x: x+10, list_))
    
    def fullAdd_(self, list_):
        return reduce(lambda x,y:(x+y), list_)

class FindEvenOdd_(operationWithList_):
    
    def findEven_(self, list_):
        return self.fullAdd_(self.add_(list(filter(lambda x: x%2==0, list_))))


child_ = FindEvenOdd_()
child_.findEven_([1,2,3,4,5,6,7,8,9,10])

80

In [10]:

class sleep:
    
    def __init__(self, str_):
        self.str_ = str_
        
    def print_(self):
        return self.str_

class execute(sleep):
    def __init__(self, str1_):
        self.str1_ = str1_
        super().__init__("sleep")
    def sentence_(self):
        return self.str1_, self.print_()
    
execute("I want to").sentence_()

('I want to', 'sleep')

# Create Object, Class and Method

In [11]:
#Create a class without constructor
class hello:
    
    def helloWorld(self):
        return "Hello World From Class:"
    
hello_ = hello()
hello_.helloWorld()

'Hello World From Class:'

In [12]:
#Create an another class with two method and call from one method from another

class hello:
    
    def hello_(self):
        return "Hello"
    def world_(self):
        return self.hello_()+" World:"

hello_ = hello()
hello_.world_()

'Hello World:'

In [13]:
#Create a class and do the same thing for a list and dict_

class listClass_:
    
    def list_(self, list_):
        return [("True") if (values_ > 0) else "False" for values_ in list_]
    def replace_(self):
         return [1 if (values_ == "True") else 0 for values_ in self.list_([1,-2,3,-5,6,7,-8,-9,10])]
    
print(listClass_().list_([1,-2,3,-5,6,7,-8,-9,10]))
print(listClass_().replace_())

['True', 'False', 'True', 'False', 'True', 'True', 'False', 'False', 'True']
[1, 0, 1, 0, 1, 1, 0, 0, 1]

In [14]:
#Create a class with a constructor
import numpy as np
class listCreator:
    
    def __init__(self, number_):
        self.number_ = number_
    
    def listGenerator(self):
        data_ =  np.arange(self.number_)
        return [values_ for values_ in data_]
    
listCreator(10).listGenerator()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
import numpy as np
class listCreator:
    
    def __init__(self, number_):
        self.number_ = number_
    
    def listGenerator(self):
        data_ =  np.arange(self.number_)
        return [values_ for values_ in data_]

class dictCreator(listCreator):
    
    def __init__(self):
        super().__init__(10)
    def dictGenerator(self):
        return {index_:values_ for index_, values_ in enumerate(self.listGenerator())}
    
print("the list looks like: ", dictCreator().listGenerator())
print("the dict looks like: ", dictCreator().dictGenerator())

the list looks like:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
the dict looks like:  {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [16]:
import numpy as np

class listCreator:  
    def listGenerator(self):
        number_ = 10
        data_ =  np.arange(number_)
        return [values_ for values_ in data_]

class dictCreator(listCreator):
            
    def dictGenerator(self):
        return {index_:values_ for index_, values_ in enumerate(self.listGenerator())}
    
print("the list looks like: ", dictCreator().listGenerator())
print("the dict looks like: ", dictCreator().dictGenerator())

the list looks like:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
the dict looks like:  {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [17]:
import pandas as pd
class numpyArray:
    
    def createNumpy(self):
        random_ = np.random.random((3,4))
        return random_
class pandas(numpyArray):
    def createPandas_(self):
        return pd.DataFrame(self.createNumpy(), columns = ["A","B","C","D"])
    def check_(self):
        return self.createPandas_().query('A>0.4' and 'B>0.4')

pandas().check_()

          A         B         C         D
0  0.951968  0.840969  0.250798  0.108685
1  0.860080  0.894337  0.194304  0.139838
2  0.406400  0.759957  0.146195  0.720315

In [18]:
from collections import Counter
class numpyArray:
    
    def createNumpy(self):
        
        np.random.seed(12)
        random_ = np.random.randint(65, 90, size = 26).reshape(2,13)
        return random_
    
    def findDuplicate_(self):
        data_ = Counter(np.ravel(self.createNumpy()))
        return list(data_.keys())
    
    def uniqueData(self):
        uniqueValue_ = self.findDuplicate_()
        length_      = len(uniqueValue_)
        condition_   = 26 - length_
        generateData_= np.arange(65,90)
        list_        = []
        
        while(condition_ !=0):
            if condition_ <0:
                break
            else:
                createData_ = np.random.choice(generateData_)
                if createData_ in (uniqueValue_):
                    pass
                else:
                    print(createData_)
                    uniqueValue_.append(createData_)
                    print(uniqueValue_)
                    if condition_ == 0:
                        break
                    else:
                        condition_ = condition_ - 1
        return uniqueValue_
    
    def create2D(self):
        
        list_ = [76, 71, 82, 67, 68, 77, 81, 87, 85, 70, 78, 75, 65, 86, 73, 83, 69, 66, 88, 74, 79, 89, 80, 84, 72,90]
        list_ = sorted(list_, reverse = False)
        array_ = np.array(list_)
        return array_.reshape(2,13)
    
    def createPandas(self):
        return pd.DataFrame(self.create2D())
    
    def convertChar(self):
        df = self.createPandas()
        df = df.applymap(lambda x: chr(x))
        return df
    def findVowel(self):
        string_ = "AEIOU"
        string_ = list(string_)
        df = self.convertChar()
        df = df.rename(columns= {0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h',8:'i',9:'j',10:'k',11:'a_',12:'b_'})
        vowel_ =  df.apply(lambda x: list(filter(lambda x: x in string_, x)), axis = 1)
        for index_, value_ in zip(vowel_.index, vowel_.values):
            value_ = reduce(lambda x, y:(x+y), value_)
            df.loc[index_, 'vowel_'] = value_
        return df
# print(numpyArray().findDuplicate_())
# print(numpyArray().uniqueData())
# print(numpyArray().create2D())
# print(numpyArray().createPandas())
print(numpyArray().convertChar())
numpyArray().findVowel()

  0  1  2  3  4  5  6  7  8  9  10 11 12
0  A  B  C  D  E  F  G  H  I  J  K  L  M
1  N  O  P  Q  R  S  T  U  V  W  X  Y  Z

   a  b  c  d  e  f  g  h  i  j  k a_ b_ vowel_
0  A  B  C  D  E  F  G  H  I  J  K  L  M    AEI
1  N  O  P  Q  R  S  T  U  V  W  X  Y  Z     OU

In [334]:
import numpy as np
import pandas as pd

In [335]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [336]:
target_ = df.loc[:, 'Survived']

In [337]:
#target_ = df.loc[:, 'Survived']
df.drop('Survived', inplace = True, axis = 1)
df.drop('Name', inplace = True, axis = 1)
df.drop('PassengerId', inplace = True, axis = 1)

In [338]:
target_.head(2)

0    0
1    1
Name: Survived, dtype: int64

In [339]:
df['Age'].fillna(df['Age'].value_counts().sort_values(ascending = False).index[0], inplace = True)

In [340]:
df['Age'].isnull().sum().sum()

0

In [341]:
df['Embarked'].fillna(df['Embarked'].value_counts().sort_values(ascending = False).index[0], inplace = True)

In [342]:
df['Embarked'].isnull().sum().sum()

0

In [343]:
df['Cabin'].fillna(df['Cabin'].value_counts().sort_values(ascending = False).index[0], inplace = True)

In [344]:
df['Cabin'].isnull().sum().sum()

0

In [345]:
df.isnull().sum().sum()

0

In [346]:
df.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,male,22.0,1,0,A/5 21171,7.2500,G6,S
1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,female,26.0,0,0,STON/O2. 3101282,7.9250,G6,S
3,1,female,35.0,1,0,113803,53.1000,C123,S
4,3,male,35.0,0,0,373450,8.0500,G6,S

In [347]:
df = pd.get_dummies(df, drop_first = True)
df.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Ticket_110413,Ticket_110465,Ticket_110564,Ticket_110813,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,38.0,1,0,71.2833,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,26.0,0,0,7.9250,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1,35.0,1,0,53.1000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,35.0,0,0,8.0500,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [348]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier

In [349]:
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
# from sklearn.tree import DecisionTreeClassifier
X = df.iloc[:,:].values
y = target_

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 142)
# dt = DecisionTreeClassifier()
# dt.fit(x_train, y_train)
# predict_ = dt.predict(x_test)
# accuracy_score(predict_, y_test)

In [350]:
dt = GradientBoostingClassifier()
dt.fit(x_train, y_train)
predict_ = dt.predict(x_test)
accuracy_score(predict_, y_test)

0.8305084745762712

In [351]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier


X = df.iloc[:,:].values
y = target_

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 142)


dt = RandomForestClassifier( criterion='entropy')
dt.fit(x_train, y_train)
predict_ = dt.predict(x_test)
accuracy_score(predict_, y_test)

0.8406779661016949

In [352]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
X = df.iloc[:,:].values
y = target_

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 142)
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
predict_ = dt.predict(x_test)
accuracy_score(predict_, y_test)

0.8542372881355932