In [1]:
list_ = [1,2,3,4,5]

print(list_)

[1, 2, 3, 4, 5]

In [2]:
#Using multidimentonal List

list_ =[
    [1,2,3,4],
    [[4,5,6,7],[8,9,10]],
    [11,12,13]
]

print(list_)

[[1, 2, 3, 4], [[4, 5, 6, 7], [8, 9, 10]], [11, 12, 13]]

In [3]:
#Using Loop print all data from List_

for value_ in list_:
    print(value_)

[1, 2, 3, 4]
[[4, 5, 6, 7], [8, 9, 10]]
[11, 12, 13]

In [4]:
#Add some value into the list

addValue_ = [-1, -2, -3]

data_ = [value for value in addValue_]

In [5]:
list_[1].append(data_)

In [6]:
list_

[[1, 2, 3, 4], [[4, 5, 6, 7], [8, 9, 10], [-1, -2, -3]], [11, 12, 13]]

In [7]:
[value for value in list_]

[[1, 2, 3, 4], [[4, 5, 6, 7], [8, 9, 10], [-1, -2, -3]], [11, 12, 13]]

In [8]:
#Find the length
len(list_)

3

In [9]:
list_
#If i access the value 6 then
list_[1][0][2]

6

In [10]:
list_

#Change the value
# list_[1] = 10
# list_

#but i want to change specific value: from 6 to 600

list_[1][0][2] = 600
list_

[[1, 2, 3, 4], [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]], [11, 12, 13]]

In [11]:
#concat two different list

list1_ = ['a','b','c', [[1,2,3]]]

list_+list1_

[[1, 2, 3, 4],
 [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]],
 [11, 12, 13],
 'a',
 'b',
 'c',
 [[1, 2, 3]]]

In [12]:
#Remove data from list: takes a index

list_
del list_[-1]
list_
#By doing this it will be removed

[[1, 2, 3, 4], [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]]]

In [13]:
#Check a data is presence or not in a list: it returns boolean

1 in list_[0]

True

In [14]:
##Using enumerate: it will return 1. index and 2. value at a time

for index, value in enumerate(list_):
    print("Index - ", + index, ": Value is = ", value)

Index -  0 : Value is =  [1, 2, 3, 4]
Index -  1 : Value is =  [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]]

In [15]:
#Using random

import random
random.choice(list_)

[1, 2, 3, 4]

In [16]:
import random
random.choice(list_)

[1, 2, 3, 4]

In [17]:
#Random Shuffle

random.shuffle(list_)
list_

[[[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]], [1, 2, 3, 4]]

In [18]:
random.shuffle(list_)
list_

[[1, 2, 3, 4], [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]]]

In [21]:
#Find index: it takes "value" as a parameter and return index

# list_[1].index(1)

In [22]:
list1_ = [1,2,3,4]

list1_.index(4)

3

In [23]:
#Removing value from list: it takes data and remove

list_

list_[1].remove(4)
list_

ValueError: list.remove(x): x not in list

In [24]:
list_[0][0].remove(600)

AttributeError: 'int' object has no attribute 'remove'

In [25]:
list_

[[1, 2, 3, 4], [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]]]

In [26]:
#sorting 

list_[0].sort(reverse=True)
list_

[[4, 3, 2, 1], [[4, 5, 600, 7], [8, 9, 10], [-1, -2, -3]]]

In [27]:
#Practise Now

In [28]:
1. Create a list 
2. Using Loop append value from 1 to 100
3. Then add 2 in each element
4. then remove

SyntaxError: invalid syntax (<ipython-input-28-46f970336c7b>, line 1)

In [29]:
list_ = []
for i in range(100):
    list_.append(i)

In [30]:
list_[80:100]

[80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [31]:
list_ = [value+2 for value in list_]

In [32]:
for index, value in enumerate(list_):
    print(index, value)

0 2
1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10
9 11
10 12
11 13
12 14
13 15
14 16
15 17
16 18
17 19
18 20
19 21
20 22
21 23
22 24
23 25
24 26
25 27
26 28
27 29
28 30
29 31
30 32
31 33
32 34
33 35
34 36
35 37
36 38
37 39
38 40
39 41
40 42
41 43
42 44
43 45
44 46
45 47
46 48
47 49
48 50
49 51
50 52
51 53
52 54
53 55
54 56
55 57
56 58
57 59
58 60
59 61
60 62
61 63
62 64
63 65
64 66
65 67
66 68
67 69
68 70
69 71
70 72
71 73
72 74
73 75
74 76
75 77
76 78
77 79
78 80
79 81
80 82
81 83
82 84
83 85
84 86
85 87
86 88
87 89
88 90
89 91
90 92
91 93
92 94
93 95
94 96
95 97
96 98
97 99
98 100
99 101

In [33]:
list_.sort(reverse=True)
list_

[101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [34]:
list1 = [ elem for elem in list_ if elem % 2 != 0]

In [35]:
list_

[101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [36]:
len(list_)

100

In [37]:
list_ = [elements for elements in list_ if elements %2 == 0]

In [38]:
list_

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [39]:
list_ = [elements for elements in list_ if (elements >=90 and elements<=100)]
list_

[100, 98, 96, 94, 92, 90]

In [40]:
[elements for elements in list_ if sum(list_[2:]) != 182]

[100, 98, 96, 94, 92, 90]

# Practise Using List

In [41]:
#Create a list
list_ = [1,2,3,4,5,6,7,8,9,10]
#print the list
print(list_)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
#Find the length
len(list_)
#it means there are 10 elements

10

In [43]:
#using loop print the list: iterative

# for i in range(len(list_)):
#     print(i)
# output:
# 0
# 1
# 2
# 3
# 4
# 5
# 6
# 7
# 8
# 9

#Using length: it will return the value of list
# for i in range(len(list_)):
#     print(list_[i])

#If i want to store those items into an another list then what will i have to do: 

# create_ = []

# for i in range(len(list_)):
#     #using append we will easily be stored items 
#     create_.append(list_[i])

# create_

#Using in operation:

# create_ = []
# for value_ in list_:
#     #Using list in for loop: it will give me the value easily
#     print(value_)
#     create_.append(value_)
# create_

#Using for loop inside of list we can access the data:

# [value_ for value_ in list_]
#output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#in 'enumerate' we will get the index and value as well

# for index_, value_ in enumerate(list_):
#     print("Index ",+ index_,"has the value = ",value_)

#Using 'enumerate' inside of a list

# [("Index ",index_,", has value = ", value_) for index_, value_ in enumerate(list_)]


#how to sort the value of a list

# list_.sort(reverse=True)
# output:[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# list_.sort(reverse=False)
# outout:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#How to shuffle
# import random
# random.shuffle(list_)

# list_

# output:
# [4, 9, 5, 2, 7, 10, 1, 3, 8, 6]

#Index find: it will take the 'value' as a parameter and return index

# list_.index(6,5)

#Want to multiple index

# value_ = [10, 1, 8, 4]
# [list_.index(i) for i in value_]
# index = [list_.index(i) for i in value_]
#  output: [5, 6, 8, 0]

#If i want to get back value
# [list_[index_] for index_ in index]

# output:[10, 1, 8, 4]

#Want to add value
# sum(list_)
# output: 55

#Mean find
# import numpy as np
# np.mean(list_)
# output: 5.5

#Change the 10 value to 100
# import pandas as pd
# index_ = [index_ for index_, value_ in enumerate(list_) if value_ == 10]
# index_ = pd.Series(index_)
# # list_[index_[0]] = 100


#Remove a particular data. in 'remove' it takes the index

# list_.remove(4)
# list_
# len(list_)

#Want to remove more than 1 data
# del list_[3:]
# list_
# output:[1, 2, 3]

In [44]:
#Using multiple 

list_ = [[1,2,3],[[4,5,6],[7,8,9]],10]
list_

[[1, 2, 3], [[4, 5, 6], [7, 8, 9]], 10]

In [45]:
#Using Loop print all

# for i in range(len(list_)):
#     print("First index "+str(i), 'has the value = ', list_[i])
    
# for i in list_:
#     print('value is ', i)
    
# for index_, value_ in enumerate(list_):
#     print(index, value_)

# [value_ for value_ in list_]

#Random Shuffle
# import random 

# random.shuffle(list_)
# list_


#Sorting use: if i use .sort() now it will not work, because there are multi dimentation data

# list_
# output:[[[4, 5, 6], [7, 8, 9]], 10, [3, 2, 1]]

# list_[0].sort(reverse=True)
# list_

# for i in range(len(list_)):
#     if i == 1:
#         print('hello')
#     else:
#         list_[i].sort(reverse=False)
# list_
# output:[[[4, 5, 6], [7, 8, 9]], 10, [1, 2, 3]]

list_

#Change 

# ten_ = [value for value in list_ if value == 10]
# list_[1] = ten_
# list_

# output:[[[4, 5, 6], [7, 8, 9]], [10], [1, 2, 3]]

# import random
# random.shuffle(list_)
# list_

# output:[[1, 2, 3], [[4, 5, 6], [7, 8, 9]], [10]]

#Add data in 

# value = [-1,-2,-3]
# [list_.insert(1, value_) for value_ in value]
# [list_.insert(2, [-100])]

[[1, 2, 3], [[4, 5, 6], [7, 8, 9]], 10]