In [1]:
import re

In [2]:
string_ = "Radadit Rahaman dittad moni advocate"

find_ = re.findall("a", string_)

print("the string list is: ", find_)

the string list is:  ['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

In [3]:
#Can i use double or tripple character together ?

find_ = re.findall("aa", string_)
#it will not print anything
print(find_)
find_ = re.findall("dit", string_)
#it will print ["dit", "dit"]
print(find_)
find_ = re.findall("ad", string_)
#it will print ["ad","ad","ad","ad"]
print(find_)

[]
['dit', 'dit']
['ad', 'ad', 'ad', 'ad']

In [4]:
find_ = re.findall("[AEIOUaeiou]", string_)
print(find_)

['a', 'a', 'i', 'a', 'a', 'a', 'i', 'a', 'o', 'i', 'a', 'o', 'a', 'e']

In [5]:
string_ = "Educational"
find_ = re.findall("[AEIOUaeiou]", string_)
find_

['E', 'u', 'a', 'i', 'o', 'a']

In [6]:
string_ = "Hello12      1   he11 24World 1311111!"

re.findall("\d", string_)

['1', '2', '1', '1', '1', '2', '4', '1', '3', '1', '1', '1', '1', '1']

In [7]:
string_ = "Math 2.3, Bangla 24, OPP 25"

re.findall("[0-9]\.?\d{0,2}", string_)

['2.3', '24', '25']

In [8]:
print("Hello Word !")

Hello Word !

In [9]:
email_ = "asajib@bscse.uiu.ac.bd"

#raditrahman142099@icloud.com

In [10]:
re.findall("[@\.]{1}", email_)

['@', '.', '.', '.']

In [11]:
string_ = "radit12  32 rahman453"

re.search("\d{2}", string_)

In [12]:
list_ = [110, 125, 133, 146, 158, 172, 187, 196, 210]
list_

[110, 125, 133, 146, 158, 172, 187, 196, 210]

In [13]:
take_ = 3

for index_, values_ in enumerate(list_):
    print(f'{index_: {0}} {values_: {5}}')

 0   110
 1   125
 2   133
 3   146
 4   158
 5   172
 6   187
 7   196
 8   210

In [26]:
XtimeSeries_ = []
ytimeSeris_  = []
for index_, values_ in enumerate(list_):
    end_ = take_ + index_
    if end_>=len(list_):
        break
    else:
        ytimeSeris_.append(list_[end_])
        XtimeSeries_.append(list_[index_: end_])

In [27]:
print(XtimeSeries_)
print(ytimeSeris_)

[[110, 125, 133], [125, 133, 146], [133, 146, 158], [146, 158, 172], [158, 172, 187], [172, 187, 196]]
[146, 158, 172, 187, 196, 210]