In [1]:
#import all necessary built-in function
from functools   import reduce
from collections import Counter
from itertools   import permutations, combinations, chain
import pandas as pd
import numpy  as np
import string
import ast

# Impletens Set

In [2]:
#create a set with ten elements
sets_ = {1,2,3,4,5,6,7,8,9,10}
#print the set
print("the sets looks likes is   : ".capitalize(), sets_,'\n')
#print the length of this sets_
print("the length of this sets is: ".capitalize(), len(sets_),'\n')

The sets looks likes is   :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

The length of this sets is:  10

In [3]:
#Now, i want to add some value, suppose 11 then how will i do ? using "add"
value_ = 11
sets_.add(value_)
print("after adding 11, the sets looks like: ".capitalize(), sets_,'\n')
#now i want to add two elements(12,13) then 

# If i do the below step, then error will be occured. because, i passed a list[12,13] and it will not be possible using "add"
#Instead of add() - what we will have to do is to use "update", let's see what will be happened

# values_ = [12,13]
# sets_.add(values_)
# print("after adding 12, 13: the sets looks :".capitalize(), sets(),'\n')


#TypeError                                 Traceback (most recent call last)
# <ipython-input-5-b4c3d77f2c0d> in <module>
#       5 #now i want to add two elements(12,13) then
#       6 values_ = [12,13]
# ----> 7 sets_.add(values_)
#       8 print("after adding 12, 13: the sets looks :".capitalize(), sets(),'\n')

# TypeError: unhashable type: 'list'


values_ = [12,13]
sets_.update(values_)
print("After adding 12, 13 using update function, the sets_ looks like: ", sets_,'\n')
#Wow, the problem is solved.

After adding 11, the sets looks like:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

After adding 12, 13 using update function, the sets_ looks like:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [4]:
#Now, we will add a duplicate value like 1,2,3 then it will not be added
values_ = [1,2,3]
print("The value, which we want to add into the sets_ is: ", values_,'\n')
sets_.update(values_)
print("After adding the 1,2,3: the sets looks like      : ", sets_,'\n')
#See it hasn't added, just print the previous value

The value, which we want to add into the sets_ is:  [1, 2, 3]

After adding the 1,2,3: the sets looks like      :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [5]:
#Now, i want to delete 10 from the sets then how will we do. 
#In point of fact, there are two possible options are presence
#1. remove(element name) - if element is presence, then it will deleted, if not error show
#2. discard(element name) - if element is presence, as usual it will delete and if not then just do nothing. no error show

deleteValue_ = 10
sets_.remove(deleteValue_)
print("After deleting the 10, the sets looks like: ", sets_,'\n')

After deleting the 10, the sets looks like:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [6]:
#If run the same code then the error will show, because 10 is already deleted. lets do this: 


# deleteValue_ = 10
# sets_.remove(deleteValue_)
# print("After deleting the 10, the sets looks like: ", sets_,'\n')



# KeyError                                  Traceback (most recent call last)
# <ipython-input-6-f4dab717753c> in <module>
#       1 #If run the same code then the error will show, because 10 is already deleted. lets do this:
#       2 deleteValue_ = 10
# ----> 3 sets_.remove(deleteValue_)
#       4 print("After deleting the 10, the sets looks like: ", sets_,'\n')

# KeyError: 10

In [7]:
#Now, do the same thing using discard()
deleteValue_ = 10
sets_.discard(deleteValue_)
print("After deleting the 10, the sets looks like: ", sets_,'\n')
#We see that it will not show any error meassage. That's the main differnce between "remove and discard"

After deleting the 10, the sets looks like:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [8]:
#If we want to do sum then 

# for values_ in sets_:
#     print(values_, end = " ")
    
# output:
# 1 2 3 4 5 6 7 8 9 11 12 13

sum_ = 0
for values_ in sets_:
    sum_ = sum_ + values_
    print("Done ", values_)
    
print(" ")
print("The total sum is: ", sum_,"\n")

Done  1
Done  2
Done  3
Done  4
Done  5
Done  6
Done  7
Done  8
Done  9
Done  11
Done  12
Done  13

The total sum is:  81

In [9]:
#Can i do the same things with "sum()" function, let's see
sum_ = sum(sets_)
print("The total sum is: ", sum_,'\n')
#Similarly, we can do max, min
max_ = max(sets_)
min_ = min(sets_)
print("The max value of this set_ is: ", max_,"\n")
print("The mean value of this set_ is: ", min_,"\n")

The total sum is:  81

The max value of this set_ is:  13

The mean value of this set_ is:  1

In [10]:
#We can delete the whole sets also, just using "clear"
sets_.clear()
print("the sets looks like: ", sets_)

the sets looks like:  set()

In [11]:
#Advanced sets
# sets_ = {[1,2,3,4],[4,3,2,1]}
# print("The sets looks like: ", sets_,'\n')
#It cannot be possible

# TypeError                                 Traceback (most recent call last)
# <ipython-input-11-c2151f6313ef> in <module>
#       1 #Advanced sets
# ----> 2 sets_ = {[1,2,3,4],[4,3,2,1]}
#       3 print("The sets looks like: ", sets_,'\n')

# TypeError: unhashable type: 'list'

In [12]:
list_ = [1,2,3,4,5,6,7,8,9,4,6,8,12,1,10,9,10,11]
print("the list looks like                 : ", list_,'\n')
print("The length of the list_ is          : ", len(list_),'\n')
#now, my task is to print the unique() value from the list;
list_ = set(list_)
print("After using set, the unique value is: ", list_,'\n')
print("The length of th list_ is           : ", len(list_),'\n')

the list looks like                 :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 6, 8, 12, 1, 10, 9, 10, 11]

The length of the list_ is          :  18

After using set, the unique value is:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

The length of th list_ is           :  12

In [13]:
#Suppose we have 1000 elements in a list
list_ = list(range(0,1000))
print("the length of the list is: ", len(list_),'\n')
for values_ in list_:
    print(values_, end = " ")
print("            ")

the length of the list is:  1000

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999

In [14]:
#Now if i want to do sum in this list then either we will have to use "reduce" or "loop" to perform sum
print("The total sum is: ", reduce(lambda x, y:(x+y), list_),'\n')
#We can do another way to perform this using set_
totalSum_ = sum(set(list_))
print("After using set : ", totalSum_,'\n')

The total sum is:  499500

After using set :  499500

In [15]:
#Do Union, difference, intersection operation

set1_ = {1,2,3,4}
set2_ = {3,4,5,1}
set3_ = {10,11,3,4}

print("The set1 is: ", set1_,'\n')
print("The set1 is: ", set2_,'\n')
print("The set1 is: ", set3_,'\n')

#Now, i want to print the common values between three sets:
common_ = set1_.intersection(set2_, set3_)
print("The common values are: ", common_,'\n')
#Now, i want to print the unique value from three sets:
unique_ = set1_.difference(set2_)
print("The unique values are: ", unique_,'\n')
#Now, i want to combine the sets:
combine_ = set1_.union(set2_, set3_)
print("The combine sets are: ", combine_)

The set1 is:  {1, 2, 3, 4}

The set1 is:  {1, 3, 4, 5}

The set1 is:  {3, 10, 11, 4}

The common values are:  {3, 4}

The unique values are:  {2}

The combine sets are:  {1, 2, 3, 4, 5, 10, 11}

In [16]:
list1_ = [[1,2,3,4],[4,5,1,7]]
list2_ = [[8,9,4,1],[1,4,5,2]]

print("The list1_ looks like  : ", list1_,'\n')
print("The list2_ looks like  : ", list2_, '\n')

#Now my task is to find the common values from two list: the expected output will be: [1,2, 4, 5]

set1_ = set()
set2_ = set()

for i in range(2):
    if i == 0:
        set1_.update(chain.from_iterable(list1_))
    else:
        set2_.update(chain.from_iterable(list2_))
        
print("The length of set1_ is : ", len(set1_),'\n')
print("The length of set2_ is : ", len(set2_),'\n')
print("The set1_ looks like   : ", set1_, '\n')
print("The set2_ looks like   : ", set2_, '\n')
common_ = set1_.intersection(set2_)
print("The common values are  : ", common_)

The list1_ looks like  :  [[1, 2, 3, 4], [4, 5, 1, 7]]

The list2_ looks like  :  [[8, 9, 4, 1], [1, 4, 5, 2]]

The length of set1_ is :  6

The length of set2_ is :  6

The set1_ looks like   :  {1, 2, 3, 4, 5, 7}

The set2_ looks like   :  {1, 2, 4, 5, 8, 9}

The common values are  :  {1, 2, 4, 5}

# Practise session

In [17]:
#Find the vowels and the unique values with common values_:
class vowelFind:
    def __init__(self, setOfString_):
        self.setOfString_ = setOfString_
        self.vowel_ = "AEIOUaeiou"
        
    def vowelFindFunction(self):
        list_ = []
        flag_ = -1
        for string_ in self.setOfString_:
            flag_ = 1
            vowelString_ = ""
            if flag_ == 1:
                for eachChar_ in string_:
                    if eachChar_ in self.vowel_:
                        vowelString_ = vowelString_ + eachChar_
                    else:
                        pass
                list_.append(vowelString_)
                flag_ = -1
            else:
                pass
        return list_
    
sets_ = {"Hello", "World", "Education"}
object_ = vowelFind(sets_)
vowelList_ = object_.vowelFindFunction()
print("The vowel_ is        : ", vowelList_,'\n')
#Now my task is find the unique and common values of that vowel_
set1_ = set(vowelList_[0])
set2_ = set(vowelList_[1])
set3_ = set(vowelList_[2])
print("The set1_ looks like : ", set1_, '\n')
print("The set2_ looks like : ", set2_, '\n')
print("The set3_ looks like : ", set3_, '\n')
#Now find the unique and common words from the sets:
unique_ = set1_.union(set2_, set3_)
common_ = set1_.intersection(set2_, set3_)
print("The unique values are: ", unique_,'\n')
print("The common values are: ", common_, '\n')

The vowel_ is        :  ['eo', 'Euaio', 'o']

The set1_ looks like :  {'e', 'o'}

The set2_ looks like :  {'a', 'u', 'i', 'E', 'o'}

The set3_ looks like :  {'o'}

The unique values are:  {'a', 'u', 'E', 'e', 'i', 'o'}

The common values are:  {'o'}

# Tuples Implementation

In [18]:
#Create a tuple with 5 elements
tuple_ = (1,2,3,4,5)
print("The tuple looks like       : ", tuple_,'\n')
print("The length of this tuple is: ", len(tuple_),'\n')

The tuple looks like       :  (1, 2, 3, 4, 5)

The length of this tuple is:  5

In [19]:
dir(tuple_)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [20]:
#In the tuple there is some restrictions:
#1. we cannot add the elements
#2. we cannot delete the elements
#3. We cannot update the elements
#4. We cannot do sum operation

In [21]:
#If we will want to add elements then

# tuple_.add(5)

# output:

# AttributeError                            Traceback (most recent call last)
# <ipython-input-21-f6e560e57697> in <module>
#       1 #If we will want to add elements then
#       2 
# ----> 3 tuple_.add(5)

# AttributeError: 'tuple' object has no attribute 'add'


# tuple_.append(5)

# AttributeError                            Traceback (most recent call last)
# <ipython-input-21-f6e560e57697> in <module>
#       1 #If we will want to add elements then
#       2 
# ----> 3 tuple_.add(5)

# AttributeError: 'tuple' object has no attribute 'add'



#So, there is no any "append", "extend", "insert", "add" method in tuple. it cannot be possible

#If we want to update any data like: 2 to 2.1 then 

# tuple_[1] = 2.1

# TypeError                                 Traceback (most recent call last)
# <ipython-input-26-0d70456abfe7> in <module>
#      30 #If we want to update any data like: 2 to 2.1 then
#      31 
# ---> 32 tuple_[1] = 2.1

# TypeError: 'tuple' object does not support item assignment

In [22]:
print("The old tuple_ looks like: ", tuple_,'\n')
print("The length of this tupple: ", len(tuple_),'\n')
tuple1_ = (6,7,8,9,10,11,12)
print("The new tuple looks like : ", tuple1_,'\n')
#Now we can concatenate two tuples in another
newTuple_ = tuple_ + tuple1_
print("The new tuple looks like : ", newTuple_,'\n')
print("The length of this tuple : ", len(newTuple_),'\n')

The old tuple_ looks like:  (1, 2, 3, 4, 5)

The length of this tupple:  5

The new tuple looks like :  (6, 7, 8, 9, 10, 11, 12)

The new tuple looks like :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

The length of this tuple :  12

In [23]:
#Find the maximum number of this newTuple_
print("The maximum number of this tuple is: ", max(newTuple_),"\n")
#Find the minimum number of this newTuple_
print("The minimum number of this tuple is: ", min(newTuple_),'\n')

The maximum number of this tuple is:  12

The minimum number of this tuple is:  1

In [24]:
#Add all numbers:
addition_ = 0
for values_ in newTuple_:
    addition_ = addition_ + values_
print("the total sum of this newTuple_ is: ", addition_)

the total sum of this newTuple_ is:  78

In [25]:
#delete the entire tuple_
del newTuple_
# print("After deleting, the tuple looks like: ", newTuple_)
# output:
# NameError                                 Traceback (most recent call last)
# <ipython-input-24-8b7e855c7dd7> in <module>
#       1 #delete the entire tuple_
#       2 del newTuple_
# ----> 3 print("After deleting, the tuple looks like: ", newTuple_)

# NameError: name 'newTuple_' is not defined

In [26]:
#Create an another tuple with duplicate values:
tuple_ = (1,2,3,4,5,4,3,2,1,6,7,8,9,10,10,9,7)
print("The tuple_ looks like      : ", tuple_,'\n')
print("The length of this tuple is: ", len(tuple_),'\n')
#Now find out the duplicate values_
unique_ = set(tuple_)
print("The unique values are      : ", unique_,'\n')
print("The real tuple looks like  : ", tuple_,'\n')
#Find the occurace values:
occurance_ = Counter(tuple_)
for values_, occurs_ in occurance_.items():
    print(f'{values_} occurs {occurs_} times.')

The tuple_ looks like      :  (1, 2, 3, 4, 5, 4, 3, 2, 1, 6, 7, 8, 9, 10, 10, 9, 7)

The length of this tuple is:  17

The unique values are      :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

The real tuple looks like  :  (1, 2, 3, 4, 5, 4, 3, 2, 1, 6, 7, 8, 9, 10, 10, 9, 7)

1 occurs 2 times.
2 occurs 2 times.
3 occurs 2 times.
4 occurs 2 times.
5 occurs 1 times.
6 occurs 1 times.
7 occurs 2 times.
8 occurs 1 times.
9 occurs 2 times.
10 occurs 2 times.

# Practise Session

In [27]:
tuple_ = ((1,2,3,4,5),(6,7,8,9,10))
print("The tupple looks like               : ", tuple_,'\n')
#Now Find the even number and save into the list
evenNumber_ = [list(filter(lambda x: x%2 == 0, values_)) for values_ in tuple_]
print("The EVEN number looks like in a list: ", evenNumber_,'\n')
#Now Find the even number and save into the tuple
evenNumber_ = tuple(tuple(filter(lambda x: x%2 == 0,values_)) for values_ in tuple_)
print("The EVEN number looks like in  tuple: ", evenNumber_,'\n')

The tupple looks like               :  ((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

The EVEN number looks like in a list:  [[2, 4], [6, 8, 10]]

The EVEN number looks like in  tuple:  ((2, 4), (6, 8, 10))

In [28]:
#Create the list of tuples in here 
list_ = [('Atikul Islam Sajib','011142099','CSE','3.98', 'ML'),
         ('Thasin Sahabuddin' , '011181150','CSE','3.67','NE'),
         ('Shahriar Sabbir','011142098','CSEE','3.50','NE'),
         ('Z S Tamim Hossain','011152216','CSE','3.78','AI'),
         ('ABC','011152215','CSE','4.00','AI'),
         ('DEF','011152214','CSE','3.99','Adv AI')]

print("The list of tuple loos like:\n", list_,'\n')
print("The length of this list of tuple_ is: ", len(list_),'\n')

The list of tuple loos like:
 [('Atikul Islam Sajib', '011142099', 'CSE', '3.98', 'ML'), ('Thasin Sahabuddin', '011181150', 'CSE', '3.67', 'NE'), ('Shahriar Sabbir', '011142098', 'CSEE', '3.50', 'NE'), ('Z S Tamim Hossain', '011152216', 'CSE', '3.78', 'AI'), ('ABC', '011152215', 'CSE', '4.00', 'AI'), ('DEF', '011152214', 'CSE', '3.99', 'Adv AI')]

The length of this list of tuple_ is:  6

In [29]:
#Now the task is to print, the max CGPA holder
# for tuples_ in list_:
#     print(type(tuples_[3]))
    
# output:
# <class 'str'>
# <class 'str'>
# <class 'str'>
# <class 'str'>

#Be carefull, these all are string types. 


# for index_, tuples_ in enumerate(list_):
#     print(f'{index_} {tuples_}')
    
# output:
# 0 ('Atikul Islam Sajib', '011142099', 'CSE', '3.98', 'ML')
# 1 ('Thasin Sahabuddin', '011181150', 'CSE', '3.67', 'NE')
# 2 ('Shahriar Sabbir', '011142098', 'CSEE', '3.50', 'NE')
# 3 ('Z S Tamim Hossain', '011152216', 'CSE', '3.78', 'AI')


# indexValue_ = -1
# maxValue_   = -1
# for index_, tuples_ in enumerate(list_):
#     values_ = float(tuples_[3])
#     print(type(values_))
    
# output:
# <class 'float'>
# <class 'float'>
# <class 'float'>
# <class 'float'>

indexValue_ = -1
maxValue_   = -1
for index_, tuples_ in enumerate(list_):
    values_ = float(tuples_[3])
    if values_>maxValue_:
        maxValue_   = values_
        indexValue_ = index_
    else:
        pass
    
print("The max CGPA is     : ", maxValue_,'\n')
print("The index of this is: ", indexValue_,'\n')
print("The information of that HIGHEST CGPA is: ", list_[indexValue_])

The max CGPA is     :  4.0

The index of this is:  4

The information of that HIGHEST CGPA is:  ('ABC', '011152215', 'CSE', '4.00', 'AI')

In [30]:
#Now, I want to calculate the AVG CGPA
#In order to do this-
#1. first retrive the CGPA from list_ and store in a tuple
#2. then use sum function and find the average
#3. use reduce function
CGPA_ = (0.00, )
for values_ in list_:
    values_ = float(values_[3])
    CGPA_ = CGPA_+(values_, )
print("The CGPA_ values are: ", CGPA_,'\n')
print("The average CGPA_ is: ", sum(CGPA_)/len(list_),'\n')

The CGPA_ values are:  (0.0, 3.98, 3.67, 3.5, 3.78, 4.0, 3.99)

The average CGPA_ is:  3.8200000000000003

In [31]:
#print the list_
print("The list looks like: \n\n", list_,'\n')

The list looks like:

 [('Atikul Islam Sajib', '011142099', 'CSE', '3.98', 'ML'), ('Thasin Sahabuddin', '011181150', 'CSE', '3.67', 'NE'), ('Shahriar Sabbir', '011142098', 'CSEE', '3.50', 'NE'), ('Z S Tamim Hossain', '011152216', 'CSE', '3.78', 'AI'), ('ABC', '011152215', 'CSE', '4.00', 'AI'), ('DEF', '011152214', 'CSE', '3.99', 'Adv AI')]

In [32]:
#Now, print "Weaver" or not based on GPA, if CGPA>3.7 then got "Weaver", on the other hand got "Not Waiver"
for index_, tuples_ in enumerate(list_):
    values_ = float(tuples_[3])
    if values_>=3.7:
        list_[index_] = tuples_ + ('Waiver', )
    else:
        list_[index_]  = tuples_ + ('Not Waiver', )
        
print("The list_ with tuple looks like: \n\n", list_)

The list_ with tuple looks like:

 [('Atikul Islam Sajib', '011142099', 'CSE', '3.98', 'ML', 'Waiver'), ('Thasin Sahabuddin', '011181150', 'CSE', '3.67', 'NE', 'Not Waiver'), ('Shahriar Sabbir', '011142098', 'CSEE', '3.50', 'NE', 'Not Waiver'), ('Z S Tamim Hossain', '011152216', 'CSE', '3.78', 'AI', 'Waiver'), ('ABC', '011152215', 'CSE', '4.00', 'AI', 'Waiver'), ('DEF', '011152214', 'CSE', '3.99', 'Adv AI', 'Waiver')]

In [33]:
#Create the list_ with tuple
list_ = [('A',70,80,90,100,86),('B',90,60,90,100,87),('C',100,84,87,98,86),('D',90,67,88,87,86)]
print("The list_ with the tuple looks like:\n", list_,'\n')
print("The length of this list_ with tuple:", len(list_),'\n')
#Now replace the numeric number with grade_
for index_, tuple_ in enumerate(list_):
    print(f'{index_} {tuple_}')

The list_ with the tuple looks like:
 [('A', 70, 80, 90, 100, 86), ('B', 90, 60, 90, 100, 87), ('C', 100, 84, 87, 98, 86), ('D', 90, 67, 88, 87, 86)]

The length of this list_ with tuple: 4

0 ('A', 70, 80, 90, 100, 86)
1 ('B', 90, 60, 90, 100, 87)
2 ('C', 100, 84, 87, 98, 86)
3 ('D', 90, 67, 88, 87, 86)

In [34]:
#just print the marks:
for index_, tuple_ in enumerate(list_):
    print(f'{index_} {tuple_}')

0 ('A', 70, 80, 90, 100, 86)
1 ('B', 90, 60, 90, 100, 87)
2 ('C', 100, 84, 87, 98, 86)
3 ('D', 90, 67, 88, 87, 86)

In [35]:
for index1_, tuple_ in enumerate(list_):
    for index_, values_ in enumerate(tuple_[1:]):
        if (values_>50) & (values_<70):
            print('fail', end = " ")
            list_[index1_] = list_[index1_] + ('fail', )
        elif (values_>=70) & (values_<80):
            print('B', end = " ")
            list_[index1_] = list_[index1_] + ('B', )
        elif (values_>=80) & (values_<90):
            print('A-', end = " ")
            list_[index1_] = list_[index1_] + ('A-', )
        elif (values_>=90) & (values_<100):
            print('A', end = " ")
            list_[index1_] = list_[index1_] + ('A', )
        else:
            print('A+', end = " ")
            list_[index1_] = list_[index1_] + ('A+', )

print("The list_ with tuple_ looks like:\n\n", list_)

B A- A A+ A- A fail A A+ A- A+ A- A- A A- A fail A- A- A- The list_ with tuple_ looks like:

 [('A', 70, 80, 90, 100, 86, 'B', 'A-', 'A', 'A+', 'A-'), ('B', 90, 60, 90, 100, 87, 'A', 'fail', 'A', 'A+', 'A-'), ('C', 100, 84, 87, 98, 86, 'A+', 'A-', 'A-', 'A', 'A-'), ('D', 90, 67, 88, 87, 86, 'A', 'fail', 'A-', 'A-', 'A-')]

In [36]:
#Now, my task is to find the AVG of marks

length_ = len(list_[0][1:6])
for index_, tuples_ in enumerate(list_):
    addition_ = 0
    for values_ in (tuples_[1:6]):
        addition_ = addition_ + values_
    list_[index_] = list_[index_] + (addition_/length_, )
    
print("The list_ with tupple looks like: \n\n", list_)

The list_ with tupple looks like:

 [('A', 70, 80, 90, 100, 86, 'B', 'A-', 'A', 'A+', 'A-', 85.2), ('B', 90, 60, 90, 100, 87, 'A', 'fail', 'A', 'A+', 'A-', 85.4), ('C', 100, 84, 87, 98, 86, 'A+', 'A-', 'A-', 'A', 'A-', 91.0), ('D', 90, 67, 88, 87, 86, 'A', 'fail', 'A-', 'A-', 'A-', 83.6)]

In [37]:
#Do the same things with using "set"
for index_, tuples_ in enumerate(list_):
    list_[index_] = list_[index_] + (sum(set(tuples_[1:6]))/length_, )
    print("Done ", index_)
print(" ")
print("The list_ with tupple looks like: \n\n", list_)

Done  0
Done  1
Done  2
Done  3

The list_ with tupple looks like:

 [('A', 70, 80, 90, 100, 86, 'B', 'A-', 'A', 'A+', 'A-', 85.2, 85.2), ('B', 90, 60, 90, 100, 87, 'A', 'fail', 'A', 'A+', 'A-', 85.4, 67.4), ('C', 100, 84, 87, 98, 86, 'A+', 'A-', 'A-', 'A', 'A-', 91.0, 91.0), ('D', 90, 67, 88, 87, 86, 'A', 'fail', 'A-', 'A-', 'A-', 83.6, 83.6)]

In [38]:
#Do the same things with "reduce" function
for index_, tuples_ in enumerate(list_):
    list_[index_] = list_[index_] + (reduce(lambda x, y:(x+y), tuples_[1:6])/length_, )
    print("Done ", index_)
print(" ")
print("The list_ with tupple looks like: \n\n", list_)

Done  0
Done  1
Done  2
Done  3

The list_ with tupple looks like:

 [('A', 70, 80, 90, 100, 86, 'B', 'A-', 'A', 'A+', 'A-', 85.2, 85.2, 85.2), ('B', 90, 60, 90, 100, 87, 'A', 'fail', 'A', 'A+', 'A-', 85.4, 67.4, 85.4), ('C', 100, 84, 87, 98, 86, 'A+', 'A-', 'A-', 'A', 'A-', 91.0, 91.0, 91.0), ('D', 90, 67, 88, 87, 86, 'A', 'fail', 'A-', 'A-', 'A-', 83.6, 83.6, 83.6)]